<div fxLayoutAlign="center" *ngIf="!loading">
  <mat-card fxFlex="1000px" fxFlex.xs="100%" style="margin-top: 20px;">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card-header>
        <mat-card-title>{{ id ? "Editar Vidraria" : "Criar Vidraria" }}</mat-card-title>
      </mat-card-header>
      <!-- <img matCardImage src="Card wide image source"> -->
      <mat-card-content style="margin-top: 5px;">
        <mat-accordion>

          <mat-expansion-panel>
            <!-- class="right-aligned-header" -->
            <mat-expansion-panel-header>
              <mat-panel-title>
                Nome
              </mat-panel-title>
              <mat-panel-description>
                {{vidraria ? vidraria.nome : "Digite abaixo o nome da nova Vidraria"}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayoutAlign="center">
              <mat-form-field>
                <input matInput placeholder="Novo Nome" hint="Altere o nome do Vidraria." type="string" formControlName="nome"
                  [(ngModel)]="nome">
              </mat-form-field>
            </div>

          </mat-expansion-panel>

          <mat-expansion-panel>
            <!-- class="right-aligned-header" -->
            <mat-expansion-panel-header>
              <mat-panel-title>
                Quantidade
              </mat-panel-title>
              <mat-panel-description>
                {{vidraria ? "Estoque Total: " + vidraria.qtdEstoque : "Digite a quantidade de estoque da
                vidraria
                "}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayoutAlign="center" fxLayoutGap="10px">
              <mat-form-field>
                <input matInput placeholder="Estoque Total" hint="Quantidade Total do Estoque da Vidraria." type="number"
                  formControlName="estoque" [(ngModel)]="estoque">
              </mat-form-field>

            </div>

          </mat-expansion-panel>


        </mat-accordion>
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" type="submit">Enviar</button>

      </mat-card-actions>
    </form>
  </mat-card>

</div>
<div fxLayoutAlign="center" *ngIf="loading">
  <mat-progress-spinner [diameter]="40" mode="indeterminate" color="primary" style="margin-top: 20px;"></mat-progress-spinner>
</div>

<!--
  [fxLayout]="layout.list"
  <div
    fxLayout="row"
    fxFlex.mat="70"
    fxLayoutWrap
    class="mat-elevation-z4"
    style="width: 100%;
    max-width: 1200px;
    position: relative;
    border-radius: 2px;
    padding: 10px 10px 30px;
    margin: 10px 10px 10px 10px;
    background-color: #f5f5f5;"
  >
    <div
      fxFlex
      *ngFor="let product of [1, 2, 3, 4, 5, 6]"
      style="padding: 3px 3px 3px 3px;"
    >
      <mat-card [ngStyle]="{ width: '300' + 'px' }">
        <mat-card-header>
          <mat-card-title class="mat-card-title">{{ product }}</mat-card-title>
        </mat-card-header>

        <img mat-card-image [src]="cardImagePath" />

        <mat-card-content>
          <div class="card-text-content">{{ product }}</div>
        </mat-card-content>

        <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
          <button mat-button (click)="addProductToCart()">ADAUGA IN COS</button>
          <button mat-button (click)="openDialog()">DETALII</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <
      <div
        class="paginator mat-elevation-z4"
        *ngIf="productsDisplayed.length !== 0"
      >
        <mat-paginator
          [length]="paginatorSize"
          [pageSize]="numberOfProductsDisplayedInPage"
          [pageSizeOptions]="[12, 24]"
          (page)="updateProductsDisplayedInPage($event)"
        >
        </mat-paginator>
      </div>
    </div>
-->

<!--
  <div>
    <mat-list
      fxLayout="row wrap"
      fxLayout.lt-sm="column"
      fxLayoutGap="32px"
      fxLayoutAlign="flex-start"
      dndDropzone
      [dndHorizontal]="layout.dndHorizontal"
      dndEffectAllowed="copyMove"
      (dndDrop)="onDrop($event, draggableListLeft)"
      class="dndList"
    >
      <mat-list-item dndPlaceholderRef class="dndPlaceholder"> </mat-list-item>

      <mat-list-item
        fxFlex
        fxLayout="row"
        *ngFor="let item of draggableListLeft"
        [dndDraggable]="item"
        [dndEffectAllowed]="item.effectAllowed"
        [dndDisableIf]="item.disable"
        (dndStart)="onDragStart($event)"
        (dndCopied)="onDragged(item, draggableListLeft, 'copy')"
        (dndLinked)="onDragged(item, draggableListLeft, 'link')"
        (dndMoved)="onDragged(item, draggableListLeft, 'move')"
        (dndCanceled)="onDragged(item, draggableListLeft, 'none')"
        (dndEnd)="onDragEnd($event)"
      >
          <mat-icon *ngIf="item.handle" mat-list-icon dndHandle
            >drag_handle
          </mat-icon>
          <h1 mat-line>{{ item.content }}</h1>
          <p mat-line>effectAllowed: {{ item.effectAllowed }}</p>
        </mat-list-item>
      </mat-list>
    </div>
-->
<!--
  <div
    fxLayout="row wrap"
    fxLayout.lt-sm="column"
    fxLayoutGap="32px"
    fxLayoutAlign="flex-start"
  >
    <ng-container *ngFor="let _ of [1, 2, 3, 4, 5, 6]">
      <mat-card
        fxFlex="0 1 calc(33.3% - 32px)"
        fxFlex.lt-mat="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%"
        gdGap="16px"
        gdRows="auto auto auto"
        gdAreas.lt-mat="header | side | content | footer"
        gdRows.lt-mat="auto auto auto auto"
      >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well with
            mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button> <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
-->
<!--
  <div fxLayout="row" class="wrapper">
      <div fxFlex [fxLayout]="layout.container" class="layout-padding">
            <div>
                <pre>dndEffectAllowed="copyMove"</pre>

                <mat-list
                  [fxLayout]="layout.list"
                  dndDropzone
                  [dndHorizontal]="layout.dndHorizontal"
                  dndEffectAllowed="copyMove"
                  (dndDrop)="onDrop($event, draggableListRight)"
                  class="dndList"
                >
                  <mat-list-item dndPlaceholderRef class="dndPlaceholder">
                  </mat-list-item>

                  <mat-list-item
                    *ngFor="let item of draggableListRight"
                    [dndDraggable]="item"
                    [dndEffectAllowed]="item.effectAllowed"
                    [dndDisableIf]="item.disable"
                    (dndStart)="onDragStart($event)"
                    (dndCopied)="onDragged(item, draggableListRight, 'copy')"
                    (dndLinked)="onDragged(item, draggableListRight, 'link')"
                    (dndMoved)="onDragged(item, draggableListRight, 'move')"
                    (dndCanceled)="onDragged(item, draggableListRight, 'none')"
                    (dndEnd)="onDragEnd($event)"
                  >
                    <mat-icon *ngIf="item.handle" mat-list-icon dndHandle
                      >drag_handle
                    </mat-icon>
                    <h1 mat-line>{{ item.content }}</h1>
                    <p mat-line>effectAllowed: {{ item.effectAllowed }}</p>
                  </mat-list-item>
                </mat-list>
              </div>

              <div>
                <pre>trash (dndEffectAllowed="move")</pre>

                <mat-list
                  [fxLayout]="layout.list"
                  dndDropzone
                  [dndHorizontal]="layout.dndHorizontal"
                  dndEffectAllowed="move"
                  (dndDrop)="onDrop($event)"
                  class="dndList"
                >
                </mat-list>
              </div>
            </div>

            <div class="layout-padding">
              <mat-slide-toggle
              [checked]="horizontalLayoutActive"
              (change)="
              horizontalLayoutActive = $event.checked;
              setHorizontalLayout($event.checked)
              "
              >horizontal
            </mat-slide-toggle>
          </div>
        </div>
      </div>
-->
