<div class="container" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px"
  fxLayoutGap="10px">
  <section>
    <h1>CONTROLE</h1>
    <p>Tenha todo o controle sobre o estoque do laboratório.</p>
  </section>
  <section>
    <h1>INFORME-SE</h1>
    <p>Aluno, sugira experimentos com base nos itens disponíveis no laboratório do IFRN Parnamirim.</p>
  </section>
  <section>
    <h1>ESTUDE</h1>
    <p>Motive-se a estudar a utilidade de cada item do estoque.</p>
  </section>
</div>
