<div *ngIf="!loading">
  <div fxLayoutAlign="center center">
    <mat-form-field fxFlex="80%" fxFlex.gt-xs="30%" style="margin-top: 10px;">
      <input matInput type="text" placeholder="Filtrar" (keyup)="filtrar($event.target.value)" />
    </mat-form-field>
    <button mat-mini-fab matTooltip="Criar Reagente" style="margin-left: 20px" color="primary" *ngIf="auth.isTecnico()"
      [routerLink]="['/reagente']">
      <mat-icon aria-label="Criar Reagente">add</mat-icon>
    </button>
  </div>

  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="data">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Data</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.data | date }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.nome }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="valor">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Valor</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.valor || "" }}
        {{ element.unidade ? element.unidade.nome : "" }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="classificacao">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Classificação</mat-header-cell>
      <mat-cell *matCellDef="let element">{{
        element.classificacao ? element.classificacao.nome : ""
        }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantidade">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Quantidade Total</mat-header-cell>
      <mat-cell *matCellDef="let element">{{
        element.qtdEstoqueTotal
        }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="acoes" *ngIf="auth.isTecnico()">
      <mat-header-cell fxLayoutAlign="center" *matHeaderCellDef mat-sort-header>Ações</mat-header-cell>
      <mat-cell fxLayoutAlign="center" *matCellDef="let element">
        <button (click)="excluir(element.id)" mat-button matTooltip="Deletar o Reagente">
          <mat-icon color="accent" aria-label="Deletar">delete</mat-icon>
        </button>
        <button (click)="editar(element.id)" color="accent" mat-button matTooltip="Editar o Reagente">
          <mat-icon aria-label="Editar">edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
<div *ngIf="loading" fxLayoutAlign="center">
  <mat-progress-spinner [diameter]="40" mode="indeterminate" color="primary"></mat-progress-spinner>
</div>
