/* You can add global styles to this file, and also import other style files */

/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

body {
  margin: 0;
}

.right-aligned-header>.mat-content {
  flex: 1;
  justify-content: space-between;
}

.mat-content>mat-panel-title,
.mat-content>mat-panel-description {
  flex: 0 0 auto;
}

.mat-cell,
.mat-header-cell {
  justify-content: center;
}
